.projects {
  color: white;
  margin: 25vh 15vh;
  font-family: "D-din", sans-serif;
  &__title-container {
    font-family: "D-dinBold" sans-serif;
    font-size: 45px;}
    &__title{
    background-image: linear-gradient(90deg, #b0f3f1, #ffcfdf);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
  }
  &__description{
      margin-top: 3vh;
  }
}
